// MEDIA QUERYS
$m1400: "only screen and (min-width : 1400px)";
$m1200: "only screen and (min-width : 1200px)";

$m992: "only screen and (min-width : 992px)";
$m768: "only screen and (min-width : 768px)";
$m500: "only screen and (min-width : 576px)";