@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap");
@import "media";
@import "mixins";

// BASE COLORS

$yellow: #f8fe83;
$blue: #37b8f0;
$pink: #f1dbdf;
$red: #e31a3e;
$black: black;
$lightBlack: #303030;
$white: white;

// FONTS

$mainFont: 'Space Grotesk', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;

// BASE STYLES

body {
  background-color: #f1dbdf;
  font-family: $mainFont;
}

.container-fluid {
  max-width: 90%;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media #{$m500} {
    max-width: 540px;
  }
  @media #{$m768} {
    max-width: 720px;
  }
  @media #{$m992} {
    max-width: 960px;
  }
  @media #{$m1200} {
    max-width: 1140px;
  }
  @media #{$m1400} {
    max-width: 1320px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

// Layout
